{% extends "admin/base.html" %}
{% set active_page = "admin_contact_forms" %}

{% block content %}
    <h1>Contact Forms</h1>
    <div class="container-fluid col-12">
        <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for contact in all_contacts %}
          <tr>
            <td>{{ contact.get_first_name() }}</td>
            <td>{{ contact.get_last_name() }}</td>
            <td>{{ contact.get_email() }}</td>
            <td><a class="btn btn-dark" href="{{ url_for('admin_contact_form_details', form_id=contact.get_id()) }}" role="button">
                View
            </a>
                <a class="btn btn-danger" href="{{ url_for('admin_contact_form_delete', form_id=contact.get_id()) }}" role="button">
                Delete
            </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
