{% extends "public/base.html" %}
{% from "includes/_formHelper.html" import render_user_form %}
{% set active_page="contact" %}

{% block content %}
    <h1>Contact Us</h1>
    <h5>*Required</h5>
    <div class="row ">
        <div class="col-4"></div>
        <div class="col-4 pb-4">
            <p>Your gym experience is of the utmost importance to us. 
                Was something a little off last time you stopped in for a workout? 
                Feel like sharing a little victory or a major milestone? 
                Please let us know by completing the form below.
            </p>
            {{ render_user_form(form, "Contact") }}
        </div>
    </div>
{% endblock %}
